.container {
    border: solid 1px;
    padding: 20px;
    margin: auto;
    width: 50%;
}

.tb-question {
    border-collapse: collapse;
    width: 100%;
}

.tb-question th, td {
    border: solid 1px silver;
    padding: 10px;
}