.container{
    margin: auto;
    border: solid 1px green;
    padding: 10px;
    width: 60%;
    display: flex;
}

.action{
    flex-grow:2;
    border-right: solid 1px gray;
    margin: 20px;
}

.list{
    flex-grow:2;
}

.folder-div{
    border-bottom: solid 1px gray;
    margin: 10px;
}

