* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: lightgray;
    height: 70px;
    margin: auto;
    width: 70%;
    border: solid 2px;
}

footer {
    background-color: lightgray;
    height: 30px;
    margin: auto;
    width: 70%;
    border: solid 2px;
}

main {
    min-height: 700px;
    margin: auto;
    width: 70%;
    border: solid 2px;
    display: flex;
}

nav {
    width: 20%;
    border-right: solid 1px;
}

nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav ul li{
    border-bottom: 1px solid;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 7px;
}


aside {
    width: 80%;
}