.container {
    width: 70%;
    border: solid;
    padding: 20px;
    margin: auto;
    display: flex;
}

nav {
    border-right: solid;
    width: 40%;
}

.content {
    padding: 10px;
    width: 60%;
}

.table-of-list {
    width: 100%;
    border-collapse: collapse;
}

.table-of-list td {
    padding: 5px;
    border: solid 1px;
}