.container {
    margin: auto;
    border: solid 1px green;
    padding: 10px;
    width: 60%;
    display: flex;
    gap: 30px;
}


.upload,
.root {
    width: 50%;
    padding: 10px;
}

.upload {
    background-color: aquamarine;
}

.root {
    background-color: bisque;
}